/***
CSS RESET
***/

/* Box Sizing Rules*/
*, *::before, *::after {
    box-sizing: border-box;
}

/*Remove default margin*/
* {
    margin: 0;
}

/*Allow percentage based heights*/
html, body {
    height: 100%;
}

/*Add accessible line height*/
body {
    line-height: 1.5;
}

/*Improve media defaults, make easier to work with*/
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

/***
General 
***/
body {
    width: 60%;
    margin: 0 auto;
}


/***
Layout
***/
#title-image-container {
    margin: 0.5rem 0;
}

#title-image-container img {
    display: block;
    margin: auto;
}
h1, h2, h3, h4 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

p {
    font-family: sans-serif;
    font-size: 14px;
}

#heading-container {
    text-align: center;
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

#heading-summary p {
    font-size: 1rem;
}

#timeline-sidebar-container {
    display: flex;
}

section {
    width: 65%;
}

#timeline-title {
    margin: 1.5rem 0;
}

#sidebar-container {
    width: 30%;
    border: 1px solid darkgray;
    margin: 1rem;

}

#sidebar-title {
    text-align: center;
    margin: 1.5rem 0;
}

#quotes-container {


}
/***
Modules
***/
.event-container {
    border-top: 1px solid darkgray ;
    padding: 3px 0;
}

.event-date {
    display: inline-block;
    width: 10%;
    text-align: center;
    position: relative;
    font-weight: bold;
}

.event-description {
    display: inline-block;
    width: 85%;
    padding: 0.4rem 0;
}

table { 
    border-spacing:10px 10px;
  }


/***
States 
***/

/***
Themes
***/



