/***
CSS RESET
***/

/* Box Sizing Rules*/
*, *::before, *::after {
    box-sizing: border-box;
}

/*Remove default margin*/
* {
    margin: 0;
}

/*Allow percentage based heights*/
html, body {
    height: 100%;
}

/*Add accessible line height*/
body {
    line-height: 1.5;
}

/*Improve media defaults, make easier to work with*/
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

/***
General 
***/
body {
    width: 60%;
    margin: 0 auto;
}


/***
Layout
***/
#title-image-container {
    margin: 1rem 0 1rem 0;
}

#title-image-container img {
    display: block;
    margin: auto;
}

#heading-container {
    text-align: center;
    font-family: ;
    font-size: ;
}


/***
Modules
***/

/***
States 
***/

/***
Themes
***/



