/***
CSS RESET
***/

/* Box Sizing Rules*/
*, *::before, *::after {
    box-sizing: border-box;
}

/*Remove default margin*/
* {
    margin: 0;
}

/*Allow percentage based heights*/
html, body {
    height: 100%;
}

/*Add accessible line height*/
body {
    line-height: 1.5;
}

/*Improve media defaults, make easier to work with*/
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

/***
General 
***/
body {
    width: 60%;
    margin: 0 auto;
}


/***
Layout
***/
#title-image-container {
    margin: 0.5rem 0;
}

#title-image-container img {
    display: block;
    margin: auto;
}
h1, h2, h3, h4 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#heading-container {
    text-align: center;
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

#heading-summary {
    font-size: 1.2rem;
}

#timeline-container {

}

#timeline-title {
    margin: 1.5rem 0;
}

/***
Modules
***/

/***
States 
***/

/***
Themes
***/



